[Unit]
Description=Mumble WebUI Server
After=network.target mumble-server.service

[Service]
Type=simple
User=mumble-web
Group=mumble-web
WorkingDirectory=/opt/webui-mumble
ExecStart=/opt/webui-mumble/mumble-webui-server
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target 